/* open-sans-regular - latin */


body{
    margin: 0px;
    margin-top: 0%;
    text-align: center;

    /* refer lecture 50 to import fonts */
    font-family: 'Merriweather', serif;
    color: #40514e;

   
}

p{
    line-height: 2;
}
h1{
    color: #66BFBF;
    font-size: 5.6 rem;
    line-height: 2;
    margin-top: 2.6rem rem;
    padding-top: 100px;
    font-family: 'Sacramento', cursive;
    /* font-family: 'Merriweather', serif; */
    /* 100pc or 1 rem in font size is 16px */
    /* px are static(non-changable) but pc and rem are dynamic(changable) */
}
h2{
    color: #66BFBF;
    margin: 0%;
    text-align: center;
    font-family: 'Merriweather', serif;
    font-weight: normal;
    
}

h3{
    color: #11999e;
    font-family: 'Merriweather', serif;
}

.skill-row{
    width: 50pc;
    margin: 100px auto 100px auto;
    text-align: left;
    line-height: 3;
}




.top-container{
    background-color: #d3f7f0;
    height: 44.25rem;
/*     width: 106.25rem; */
    width:100%;
    margin: 0%;
    position:relative;
    padding-top: 0;
}

.top-cloud{
    position: absolute;
/*     right: 31.25rem;
    top: 5.625rem; */
    right: 25%;
    top: 5%; 
}

.bottom-cloud{
    position: absolute;
/*     left: 25rem;
    bottom: 18.75rem; */
    left: 30%;
    bottom: 40%;
    
}

.mountain{
    position: absolute;
    bottom: 0px;
/*     right: 550px; */
    right:50%;
}

.middle-container{
    margin: 100px 0;
}

.center{
    position: relative;
    text-align: center;
}

.coding{
    width: 25%;
    float: left;
    margin-right: 30px;
   
}
.design-desc{
    clear: left;
}





.communication{
    width: 25%;
    float: right;
    margin-right: 5.625rem;
   
}



.communication-desc{
    clear: right;
}

.intro{
    /* width: 30%; */
}

.contact-me{
    width: 40%;
    margin: 2.5rem auto 3.75rem;

}
.btn 
{
    background: #11CDD4;
    background-image: -webkit-linear-gradient(top, #11CDD4, #11999E);
    background-image: -moz-linear-gradient(top, #11CDD4, #11999E);
    background-image: -ms-linear-gradient(top, #11CDD4, #11999E);
    background-image: -o-linear-gradient(top, #11CDD4, #11999E);
    background-image: linear-gradient(to bottom, #11CDD4, #11999E);
    -webkit-border-radius: 8;
    -moz-border-radius: 8;
    border-radius: 8px;
    font-family: 'Merriweather', serif;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
   
}
      
.btn:hover
 

{
    background: #30E3CB;
    background-image: -webkit-linear-gradient(top, #30E3CB, #02a844);
    background-image: -moz-linear-gradient(top, #30E3CB, #02a844);
    background-image: -ms-linear-gradient(top, #30E3CB, #02a844);
    background-image: -o-linear-gradient(top, #30E3CB, #02a844);
    background-image: linear-gradient(to bottom, #30E3CB, #02a844);
    text-decoration: none;
    
}
.bottom-container{
    background-color: #66BFBF;
/*     padding: 3.125rem 0 1.25px; */
    padding-top:60px;
    padding-bottom:40px;
    width: 100%;

}


span{
    text-decoration: underline;
}


hr{
    border: dotted #eaf6f6 6px;
    border-bottom: none;
    width: 5%;
    margin: 100px auto;
}

a{
    color: #11999E;
    margin: 10px 20px;
    text-decoration: none;
}
 a:hover{
    color: #eaf6f6;
 }

.footerlink{
    color: #eaf6f6;
    text-decoration: none;
    font-size: 1.2rem;
    margin: 0 30px;
 }

 .copyright{
    color: #eaf6f6;
    font-size: 0.75rem;
    padding: 20px 0;
 }

    


/* use margin:auto; to center the ::content */
